<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mapscloud.aidlservice">

    <!--前台服务权限 等级为正常权限：targetSdk大于等于28 需要注册前台服务权限，小于28则不需要-->
    <permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--广播权限 开关机权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIDLService"
        tools:targetApi="31">
        <activity
            android:name="com.mapscloud.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".aidl.AIDLService"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.mapscloud.aidlservice.aidl.aidlservice.action" />
            </intent-filter>
        </service>
        <receiver android:name="com.mapscloud.br.ServiceBroadcastReceiver">
            <intent-filter>
                <!--静态注册自定义广播-->
                <action android:name="com.mapscloud.br.servicebroadcastreceiver.action" />
            </intent-filter>
            <!--静态注册监听系统广播，开机广播 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <!--静态注册监听网络变化广播 -->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

        </receiver>
    </application>

</manifest>